/* Georg Fischer Color: #167BAC */

html {
  /* 1/16 * 100% = 6.25% */
  font-size: 6.25%;
}

body {
  font-family: "Oxygen", "Lato", sans-serif;
  font-size: 20rem;
  margin-top: 32rem;
  margin-bottom: 32rem;
}

h2 {
  color: #167bac;
}

pre,
code {
  font-family: monospace;
  font-size: 18rem;
  background-color: rgba(240, 240, 240, 0.9);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #167bac;
}

table,
th,
td {
  border: 1px solid black;
}

/* Ref: https://stackoverflow.com/a/7354648 */
@media (min-width: 320px) and (max-width: 960px) {
}
@media (min-width: 961px) {
  body {
    width: 1025px;
    margin-left: auto;
    margin-right: auto;
  }
}
